/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-a-b-test {
	border: 1px dotted blue;
	padding: 5px;
	[data-type="create-block/ab-variant"] {
		&:first-of-type {
			border: 1px dotted green;
		}
		&:last-of-type {
			border: 1px dotted red;
		}
		border: 1px solid yellow;
	}
}
